/* 
#374785
#24305E
#F76C6C
*/

#container {
  text-align: center;
  background-color: #a8d0e6;
  height: 100vh;
}

#sub-container {
  margin: 0 auto;
  padding-top: 30vw
}

.logo {
  font-size: 13vw;
  color: #374785;
  font-family: "Gill sans";
  font-style: italic
}

.sub-logo {
  font-size: 6vw;
  color: purple;
  font-family: "Gill sans";
  font-style: italic
}

#button {
  background-color: #E3E1B8; 
  padding: 2px 4px;
  font: 13px sans-serif;
  text-decoration: none;
  border: 1px solid #000;
  border-color: #aaa #444 #444 #aaa;
  color: #000
}

#button:hover { background-color: #46000D; }