/* 
#A8D0E6
#374785
#24305E
#F76C6C
#F8E9A1
*/
div {
  font-family: "Gill sans";
}

#container {
  text-align: center;
  background-color: white;
  height: 100vh;
}

#sub-container {
  margin: 0 auto;
  padding-top: 50vw;
}

.logo {
  font-size: 13vw;
  color: #374785;
  font-style: italic;
}

.sub-logo {
  font-size: 6vw;
  color: #374785;
  font-style: italic;
}

.loginbtn {
  --background: #f76c6c;
  --background-activated:  #f76c6c;
  width: 70vw;
  font-weight: bold;
  --border-radius: 5vw;
  height: 6vh
}

.regbtn {
  --background: white;
  --background-activated: white;
  --color-activated:#24305E;
  --color: #24305E;
  width: 70vw;
  font-weight: bold;
  --border-radius: 5vw;
  --border-color: #24305E;
  --border-style: solid;
  --border-width: 0.3vw;
  height: 6vh
}
